All password created, stored or used in this system must meet these security requirements.

•  All Password must be at least 8 characters long. 
•  All Password must contain at least one uppercase letter. 
•  All Password must contain at least one digit.
•  All Password must contain at least one special character (@$!%*?&.,). 
•  All Password has a maximum length of 20 characters.